<launch>
	<node name = "forward" pkg = "forward_motion" type = "forward" respawn = "true" output = "screen">
		<param name = "p_param" type = "double" value = "2.0"/>
		<param name="i_param" type="double" value="0.005" />
		<param name="d_param" type="double" value="0.0" />
	</node>
		<node name = "upward" pkg = "upward_motion" type = "upward" respawn = "true" output = "screen">
		<param name="p_stablize" type="double" value="2.0" />
		<param name="i_stablize" type="double" value="0.005" />
		<param name="d_stablize" type="double" value="0" />
		<param name="p_upward" type="double" value="4.0" />
		<param name="i_upward" type="double" value="0.005" />
		<param name="d_upward" type="double" value="0.0" />
	</node>
		<node name = "sideward" pkg = "sideward_motion" type = "sideward" respawn = "true" output = "screen">
		<param name="p_stablize" type="double" value="2.0" />
		<param name="i_stablize" type="double" value="0.005" />
		<param name="d_stablize" type="double" value="0.0" />
		<param name="p_upward" type="double" value="4.0" />
		<param name="i_upward" type="double" value="0.005" />
		<param name="d_upward" type="double" value="0.0" />
	</node>
		<node name = "turnXY" pkg = "turn_motion" type = "turnXY" respawn = "true" output = "screen">
		<param name="p_stablize" type="double" value="2.0" />
		<param name="i_stablize" type="double" value="0.005" />
		<param name="d_stablize" type="double" value="0.0" />
		<param name="p_upward" type="double" value="4.0" />
		<param name="i_upward" type="double" value="0.005" />
		<param name="d_upward" type="double" value="0.0" />
	</node>
</launch>
